/* general */

@import url("https://fonts.googleapis.com/css2?family=Mulish:wght@600;900&display=swap");

:root {
  --bg-light: #f9f4fb;
  --color-light: #b52184;
  --color-dark: #312d64;
  font-family: "Mulish";
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

h1,
h2,
h3 {
  color: var(--color-light);
  font-weight: 900;
}

p {
  color: var(--color-dark);
  font-weight: 600;
}

/* landing */

#landing {
  background-color: var(--bg-light);
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 2rem;
}

#landing > img {
  -webkit-animation: slide-bottom 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: slide-bottom 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

@-webkit-keyframes slide-bottom {
  0% {
    -webkit-transform: translateY(-100%);
    transform: translateY(-100%);
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}
@keyframes slide-bottom {
  0% {
    -webkit-transform: translateY(-100%);
    transform: translateY(-100%);
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

#landing > div {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  padding-top: 1rem;
  padding-bottom: 10vh;
}

#landing p {
  font-size: 1.25rem;
}

h1 {
  font-size: 2rem;
}

.btn-more {
  width: 3.5rem;
  height: 6.5rem;
  border: 4px solid #b52184;
  border-radius: 3.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn-more:hover {
  transform: translateY(-0.3rem);
}

.btn-more:active {
  transform: translateY(0.3rem);
}

/* details */

#details {
  background-color: var(--color-dark);
  padding: 3.5rem 2rem;
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

#details article {
  background-color: #ffffff;
  box-shadow: 0 0.2rem 0.85rem rgba(0, 0, 0, 0.25);
  border-radius: 1.25rem;
  padding: 1.55rem;
}

article h3 {
  font-size: 1.25rem;
  margin-top: 2rem;
  margin-bottom: 1.25rem;
}

/* contact */

#contact {
  background-color: var(--bg-light);
  padding: 4.5rem 2.5rem;
}

.contact-form {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

#contact > img {
  display: none;
}

.input-layout {
  border: 1.5px solid var(--color-dark);
  border-radius: 0.8rem;
  padding: 0.8rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0.8rem;
}

.input-layout input {
  flex-grow: 1;
  background-color: transparent;
  color: var(--color-dark);
  border: none;
  outline: none;
}

.contact-form textarea {
  border: 1.5px solid var(--color-dark);
  border-radius: 0.8rem;
  padding: 0.8rem;
  background-color: transparent;
  color: var(--color-dark);
  resize: none;
  outline: none;
}

.btn-submit {
  align-self: flex-start;
  cursor: pointer;
  padding: 0.55rem 1rem;
  background-color: var(--color-dark);
  color: #ffffff;
  border: none;
  outline: none;
  border-radius: 0.55rem;
}

/* footer */

footer {
  height: 4.5rem;
  background-color: var(--color-dark);
  color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* media queries */

@media (min-width: 768px) {
  #landing {
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: flex-start;
    padding: 0 2rem 7.5rem 6.5rem;
  }

  #landing > img {
    max-width: 50%;
  }

  #landing > div {
    align-self: flex-end;
    align-items: flex-start;
    gap: 10rem;
    padding: 0;
  }

  h1 {
    font-size: 3.5rem;
  }

  #landing p {
    font-size: 2rem;
  }
}
